<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
    <script type="text/javascript">

        person = null;

        socket = new WebSocket("ws://" + window.location.host + "/new/");
        socket.onmessage = function(e) {
            $("#mychannel-chat").append(e.data+"<br>");
        }

        $(document).ready(function(){
            var person = prompt("Please enter your name", "");
            if (person != null) {
                socket.send("Welcome: "+person);
            }

            $("#submit").click(function(){
                msg = $("#message").val();
                socket.send("<b>"+person+"</b>: "+msg);
                $("#message").val("");
            });

        });

    </script>

</head>
<body>

<h1>Channel "New"</h1>
<div>
    <div id="mychannel-chat" style="height:300px; width:100%; padding:5px; border:1px solid grey;"></div>
    <div id="user-form" style="width:100%; padding:5px; border:1px solid grey;">
        
        <form>
            <textarea id="message"></textarea>
            <label id="submit" onclick="javascript:void(0)">Submit</label>
        </form>

    </div>
</div>


</body>
</html>